<h3 id="logo">Raised Buttons</h3>

<div>
    <div class="button-row">
        <button class="double-button" mat-raised-button color="primary" [routerLink]="['/card']">Play</button>
    </div>
    <div class="button-row">
        <button class="double-button" mat-raised-button color="primary" [routerLink]="['/card']">Cards</button>
    </div>
    <div class="button-row">
        <button class="double-button" mat-raised-button color="primary" [routerLink]="['/card']">Decks</button>
    </div>
    <div class="button-row">
        <button class="double-button" mat-raised-button color="primary" [routerLink]="['/card']">Settings</button>
    </div>
</div>




