button{
    margin:5px;
    border-radius: 100px;
    background-color: mediumseagreen;
    border-style: solid;
    border-width:2px;
    border-color: black;
    width:40%;
    max-width: 200px;
    font-size: 16pt;
    font-family:"Fira Sans Medium",serif;
}

button:hover{
    color: black;
}

.button-row{
    text-align: center;
}
